# ===== Individueller  Teil =====

# Hier MÜSSEN individielle Änderungen vorgenommen werden.

# für Linux, Linux-VM, WSL mit Linux-VM
# !!!!! !!!!! !!!!! !!!!!
REPO_DIR='/home/USERNAME/meik'
# !!!!! !!!!! !!!!! !!!!!

# für detailierte Docker-Ausgabe
# export BUILDKIT_PROGRESS=plain

# für signierte Commits
# export GPG_TTY=$(tty)



# ===== Gemeinsamer Teil =====

# Hier sollten KEINE individielle Änderungen vorgenommen werden.

export MEIK_DEPLOYMENT_PROFILE="dev";

function docker_compose() {
	docker compose \
		--profile "${MEIK_DEPLOYMENT_PROFILE}" \
		-f "${REPO_DIR}/docker/compose.yml" \
		-f "${REPO_DIR}/docker/compose.${MEIK_DEPLOYMENT_PROFILE}.yml" \
		-f "${REPO_DIR}/docker/compose.${MEIK_DEPLOYMENT_PROFILE}.override.yml" \
		"$@";
}

export HISTFILE="${REPO_DIR}/.bash_history"

shopt -s histappend
PROMPT_COMMAND="history -a"

alias gs='git status'
alias gilrm="rm -f '$REPO_DIR/.git/index.lock'"
alias rmgil='gilrm'
alias gl='git log --oneline'
alias gf='git fetch --all'
function git_backup_branch() {
    local cur_branch="$(git rev-parse --abbrev-ref HEAD)";
    git checkout -b "${cur_branch}_backup_$(date +%+4Y-%m-%d_%H-%M-%S)";
    git checkout "${cur_branch}";
}

alias gb='git_backup_branch'
alias gp='git push --force-with-lease --set-upstream origin "$(git rev-parse --abbrev-ref HEAD)"'

alias docker_compose_run='docker_compose run --rm'
alias docker_compose_exec='docker_compose exec'

alias ddown='docker_compose down'
alias dps='docker_compose ps'
alias dr='docker_compose restart'
alias dra='dr app'
alias drw='dr web'
alias drn='dr node'
alias drb='docker_compose up --build -d'
alias drba='drb app'
alias drbw='drb web'
alias drbn='drb node'

alias docker_compose_run_normal='docker_compose_run --user normal'
alias docker_compose_run_root='docker_compose_run --user root'
alias docker_compose_exec_normal='docker_compose_exec --user normal'
alias docker_compose_exec_root='docker_compose_exec --user root'

alias bashapp='docker_compose_exec_normal app bash -i'
alias bashapproot='docker_compose_exec_root app bash -i'
alias php-fpm='docker_compose_exec_root app php-fpm'
alias php='docker_compose_exec_normal app php'
alias phpd='php -dxdebug.mode=debug -dxdebug.start_with_request=yes'
alias artisan='php artisan'
alias artisand='phpd artisan'
alias composer='docker_compose_exec_normal app composer'
alias ci='composer install'
alias cda='composer dump-autoload'

alias shweb='docker_compose_exec --user nginx web sh -i'
alias shwebroot='docker_compose_exec_root web sh -i'

alias shnode='docker_compose_exec_normal node sh -i'
alias shnoderoot='docker_compose_exec_root node sh -i'
alias node='docker_compose_run_normal node'
alias npm='docker_compose_run_normal node npm'
alias npx='docker_compose_run_normal node npx'

SYS_ADMIN_USER=nJgHb8j3yN4BgdG46N8dnddzhy7523Hd3gAsfY10jw7Vk9wkQyp3Pdb2el6vfopy1gfF789J5GvcdS68Tf6VGcvG6ghDF4d3Dx6F
SYS_ADMIN_PASSWORD=7cFcFdVsHV2Gs65o7CgKNdH15pLH7tH2zBxDQxS4syPfVj6Ytp4qCfDv4CgEhZhb65TFvcjoBHvg654DFcxgh654Cd49yAQPMnK5

alias bashdb='docker_compose_exec -w /opt/couchdb db bash -i'
# $1 - user - "admin" or "normal"
# $2 - HTTP method like PUT GET POST DELETE
# $3 - path, must start with /
# [$4] - JSON
function curl_db() {
    local user="$1";
    local method="$2";
    local path="$3";
    if [[ "$user" == "admin" ]] ; then
        # Trennung User und Passwort durch Doppelpunkt
        local auth="$SYS_ADMIN_USER:$SYS_ADMIN_PASSWORD"
    else
        local auth='H-j6d)5<\*3m1!p_Rq}8:1e~0XAy(L.|6-fUj+Kw2V>f,'
    fi
    local -a opts;
    if [[ "$#" -ge 4 ]] ; then
        opts=("-d" "$4");
    fi
    docker_compose_exec db curl \
        -u "$auth" \
        -H 'Content-Type: application/json' \
        -H 'Accept: application/json' \
        -X "$method" \
        "${opts[@]}" \
        "localhost:5984$path";
}
alias curldb_admin="curl_db admin"
alias curldb_normal="curl_db normal"
alias dbadminput="curldb_admin PUT"
alias dbadminget="curldb_admin GET"
alias dbadminpost="curldb_admin POST"
alias dbadmindelete="curldb_admin DELETE"
alias dbput="curldb_normal PUT"
alias dbget="curldb_normal GET"
alias dbpost="curldb_normal POST"
alias dbdelete="curldb_normal DELETE"
